# Dependencias
node_modules/

# Build
dist/
.vite/

# Mock API
db.json

# Entornos
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor / SO
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
Thumbs.db
